{{ define "header.html"}}
<!doctype html>
<html class="x-admin-sm">

<head>
    <title>后台信息管理系统</title>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    {{css "/static/js/layui/xadmin.css" "/static/admin/css/edit.css" "/static/admin/css/common.css"}}

    {{js "/static/js/jquery.min.js" "/static/js/layui/layui.js" "/static/js/xadmin.js"
    "/static/admin/js/index.js" "/static/js/search.js"}}

    <title>
        后台管理系统
    </title>
</head>

<body>
    <div class="top">
        <div class="top_1">
            <ul>
                <!--<li><a href="/" target="_blank" class="style_13">站点首页</a></li>-->
                <li><a href="<{:U('Index/index','','html')}>" class="style_14">管理首页</a></li>
                <li><a href="<{:U('Login/out','','html')}>" class="style_11">安全退出</a></li>
                <li style="float:right"><a href="javascript:void(0);" class="style_12">当前管理者：{{.admin_name}}</a></li>
            </ul>
        </div>
    </div>
    {{end}}